.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  border: 5px solid #ca9650;
  border-radius: 5px;
}

justify-content: center;
.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___root .fighter-preview___img {
  margin: 0 auto;
  max-width: 180px;
  max-height: 240px;
}

.fighter-preview___root ul {
  display: block;
  width: calc(100% - 20px);
  margin: auto auto 5px auto;
  padding: 5px;
  background-color: #ffdfa7;
  border-radius: 3px;
}